<nav class="gh-head-inner {{#if @member}}is-member{{else}}is-guest{{/if}}">
  <div class="gh-head-brand">
    <a class="gh-head-logo" href="{{@site.url}}">
      {{#if @site.logo}}
        <img src="{{@site.logo}}" alt="{{@site.title}}" />
      {{else}}
        {{@site.title}}
      {{/if}}
    </a>
    <button class="gh-burger" aria-label="Menu">
      <div class="gh-burger-box">
        <div class="gh-burger-inner"></div>
      </div>
    </button>
  </div>
  
  <div class="gh-head-menu">
    {{navigation}}
  </div>
  
  <div class="gh-head-actions">
    <ul class="gh-head-actions-list">
      <li>
        <button id="search-button" class="gh-icon-btn" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        </button>
      </li>
      <li>
        <button id="dark-mode-toggle" class="gh-icon-btn" aria-label="Toggle Dark Mode">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
        </button>
      </li>
      {{#if @site.members_enabled}}
        <li>
          {{#if @member}}
            <a class="gh-button" href="#/portal/account">Account</a>
          {{else}}
            <a class="gh-button" href="{{@site.signup_url}}">Subscribe</a>
          {{/if}}
        </li>
      {{/if}}
    </ul>
  </div>
</nav>