<nav class="gh-head-inner {{#if @member}}is-member{{else}}is-guest{{/if}}">
  <div class="gh-head-brand">
    <a class="gh-head-logo" href="{{@site.url}}">
      {{#if @site.logo}}
        <img src="{{@site.logo}}" alt="{{@site.title}}" />
      {{else}}
        {{@site.title}}
      {{/if}}
    </a>
    <button class="gh-burger" aria-label="Menu">
      <div class="gh-burger-box">
        <div class="gh-burger-inner"></div>
      </div>
    </button>
  </div>
  
  <div class="gh-head-menu">
    {{navigation}}
  </div>
  
  <div class="gh-head-actions">
    <ul class="gh-head-actions-list">
      <li>{{search}}</li>
      {{#if @site.members_enabled}}
        <li>
          {{#if @member}}
            <a class="gh-button" href="#/portal/account">Account</a>
          {{else}}
            <a class="gh-button" href="{{@site.signup_url}}">Subscribe</a>
          {{/if}}
        </li>
      {{/if}}
    </ul>
  </div>
</nav>