<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{asset "css/index.css"}}" />
   
  {{ghost_head}}
</head>
<body>
    {{> header}}
    <main>
        {{{body}}}
    </main>
    {{> footer}}
    {{ghost_foot}}
    <script src="{{asset "js/carousel.js"}}"></script>
    <script src="{{asset "js/dark-mode.js"}}"></script>
    <script src="{{asset "js/search.js"}}"></script>
    <script src="{{asset "js/navigation.js"}}"></script>
</body>
</html>